.container{
	width:700px;
	margin:30px auto;
	padding:25px;
	min-height:400px;
	height:auto;
}
.container h2 { margin-top:30px;}

.scrollToTop{
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	top:90px;
	right:40px;
	display:none;
}
.scrollToTop:hover{
	text-decoration:none;
}