@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

		body {
			background-color: #f3f3f3;
		}
		.wrapper article, section {
			width: 600px;
			margin: 50px auto;
			color: #555;
			padding: 20px;
		}
		.wrapper h1 {
			margin-top: 0;
		}
		.wrapper article:target {
			background-color: #eaeaea;
		}
		/*the columns*/
		.wrapper article:nth-of-type(1) {
			-webkit-column-count:2;
			-moz-column-count:2;
			column-count:2;
		}
		.wrapper article:nth-of-type(2) {
			-webkit-column-width: 150px;
			-moz-column-width: 150px;
			column-width: 150px;
		}
		.wrapper article:nth-of-type(3) {
			-webkit-column-width: 150px;
			-moz-column-width: 150px;
			column-width: 150px;

			-webkit-column-gap: 50px;
			-moz-column-gap: 50px;
			column-gap: 50px;
		}
		.wrapper article:nth-of-type(4) {
			-webkit-column-width: 150px;
			-moz-column-width: 150px;
			column-width: 150px;

			-webkit-column-gap: 50px;
			-moz-column-gap: 50px;
			column-gap: 50px;

			-moz-column-rule: 1px dotted #ccc;
			-webkit-column-rule: 1px dotted #ccc;
			column-rule: 1px dotted #ccc;
		}
		.wrapper article:nth-of-type(5) {
			-webkit-column-width: 150px;
			-moz-column-width: 150px;
			column-width: 150px;

			-webkit-column-gap: 50px;
			-moz-column-gap: 50px;
			column-gap: 50px;

			-moz-column-rule: 1px dotted #ccc;
			-webkit-column-rule: 1px dotted #ccc;
			column-rule: 1px dotted #ccc;
		}
		.wrapper article:nth-of-type(5) h1 {
				-webkit-column-span: all;
				column-span:all;
		}
		
		blockquote {
				  padding: 15px;
				  border-top: 1px solid #e1cc89;
				  border-bottom: 1px solid #e1cc89;
				  margin-top: -20px;
				  text-indent: 23px;
		}
		#button {
			margin-top: 0;
			text-align: center;
			margin-bottom: 25%;
		}
.button {
    display: inline-block;
    margin: 10px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
 
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
 
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
 
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
 
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.gray {
    color: #515151;
 
    background: #d3d3d3; /* Old browsers */
    background: -moz-linear-gradient(top,  #d3d3d3 0%, #8a8a8a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#8a8a8a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* IE10+ */
    background: linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* W3C */
}
.big {
    padding: 0 40px;
    padding-top: 10px;
    height: 45px;
     text-transform: none;
    font: italic normal 22px/18px Georgia, sans-serif;
    text-shadow: 1px 1px 1px rgba(255,255,255, .12);
}
 
.big span {
    display: block;
    text-transform: none;
    font: italic normal 12px/18px Georgia, sans-serif;
    text-shadow: 1px 1px 1px rgba(255,255,255, .12);
}
.button:hover {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
}

input, textarea  {
	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	margin-bottom: 10px;
}
	</style>

