.goalProgress {

	background: #fff;
	
padding-top: 5px;
padding-bottom: 5px;
padding-left: 5px;
padding-right: 15px;
	width: 70%;
  	margin: 0 auto;
	border: 1px solid #E1DEE3;
    	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .10), inset 1px 1px 1px rgba(255,255,255, .34);
    	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .10), inset 1px 1px 1px rgba(255,255,255, .34);
    	box-shadow: 1px 1px 1px rgba(0,0,0, .10), inset 1px 1px 1px rgba(255,255,255, .34);
	z-index:-1;
	position: relative;
}

.goalProgress:after, .goalProgress:before { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 
.goalProgress:after { border-color: rgba(136, 183, 213, 0); border-top-color: #fff; border-width: 10px; margin-left: -10px; } 
.goalProgress:before { border-color: rgba(194, 225, 245, 0); border-top-color: #E1DEE3; border-width: 14px; margin-left: -14px; }


div.progressBar {
	background: #F5C711;
	color: #fff;
	font-size: 1.2em;
	font: italic normal Georgia, sans-serif;
	letter-spacing: -1px;
	
	padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
	display: block;
	overflow: hidden;
	width: 20px;
}
span.goalAmount {
	display: none;
	text-indent: -9999px;
}

#sample_goal {
	margin-bottom:2%;
}
