@font-face {
    font-family: 'HominisNormal';
    src: url('fonts/HOMINIS-webfont.eot');
    src: url('fonts/HOMINIS-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/HOMINIS-webfont.woff') format('woff'),
         url('fonts/HOMINIS-webfont.ttf') format('truetype'),
         url('fonts/HOMINIS-webfont.svg#HominisNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	font-size: 18px;
}
.wrapper {
	width: 800px;
	margin: 50px auto;
}
p {
	color: #555;
	font-family: 'Georgia', Times, serif;
	line-height: 24px;
}
p:first-child {
	padding: 30px;
	border-left: 5px solid #7f7664;
	background-color: #f5f4f2; 
	line-height: 32px;
    box-shadow:  5px 5px 0px 0px rgba(127, 118, 100, 0.2);
    position: relative;
}
p:first-child:first-letter {
font-size: 72px;
float: left;
padding: 10px;
height: 64px;
font-family: 'HominisNormal';
background-color: #7F7664;
margin-right: 10px;
color: white;
border-radius: 5px;
line-height: 70px;
}
p:first-child:first-line {
	font-weight: bold;
	font-size: 24px;
	color: #7f7664;
}
p:first-child:after {
	background: url("../images/paper-clip.png") no-repeat scroll 0 0 transparent;
	content: " ";
	display: inline-block;
	height: 100px;
	position: absolute;
	right: -5px;
	top: -35px;
	width: 100px;
}